* {
    font-family: 'Arima', cursive;
}

/* Home Page Header Styling Start */

.home-page-header-first-row {
    margin-top: 10px !important;
}

.home-page-header-number {
    margin-top: 15px;
}

.home-page-header-navbar-brand {
    font-size: 50px !important;
}

.home-page-header-about-us-link {
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #F0C58F;
    text-decoration: none;
}

.home-page-header-about-us-link:hover {
    background-color: #E2912A;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home-page-header-about-us-link > h6 {
    margin: 5px;
    margin-left: 64px;
    color: white;
}

.home-page-header-insurance-link {
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #8E472F;
    text-decoration: none;
}

.home-page-header-insurance-link:hover {
    background-color: #633221;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home-page-header-insurance-link > h6 {
    margin: 5px;
    margin-left: 28px;
    color: white;
}

.home-page-header-payment-link {
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #572D1D;
    text-decoration: none;
}

.home-page-header-payment-link:hover {
    background-color: #1A0D09;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home-page-header-payment-link > h6 {
    margin: 5px;
    margin-left: 41.5px;
    color: white;
}

.home-page-header-gallery-link {
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #040404;
    text-decoration: none;
}

.home-page-header-gallery-link:hover {
    background-color: #040123;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home-page-header-gallery-link > h6 {
    margin: 5px;
    margin-left: 44px;
    color: white;
}

.home-page-header-classes-link {
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #669B68;
    text-decoration: none;
}

.home-page-header-classes-link:hover {
    background-color: #293E29;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home-page-header-classes-link > h6 {
    margin: 5px;
    margin-left: 73px;
    color: white;
}

.home-page-header-contact-link {
    border: 1px black solid;
    background-color: #513932;
    text-decoration: none;
    /*Contact Us*/
}

.home-page-header-contact-link:hover {
    background-color: #cf6038;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home-page-header-contact-link > h6 {
    margin: 5px;
    margin-left: 55.5px;
    color: white;
}

/* Home Page Header Styling End */

/* Home Page Body Styling Start */

.home-page-body-first-row {
    background-image: url('./../images/homepage-body-background.svg');
    height: 759px
}

.home-page-body-first-row-col-image {
    height: 650px;
    margin-left: 80px;
    margin-top: 80px;
}

.home-page-body-first-row-second-col-container {
    margin-top: 270px;
    margin-left: 30px !important;
}

.home-page-body-first-row-second-col-container > h5 {
    margin-left: 24px;
}

.home-page-body-first-row-second-col-container > h3 {
    margin-left: 98px;
    margin-top: 200px;
}

.home-page-body-second-row {
    background-color: #FFEDB7;
}

.home-page-body-second-row-first-col-container > h1 {
    margin-top: 50px;
    margin-left: 320px;

}

.home-page-body-second-row-first-col-container > h6 {
    margin-left: 50px;
    text-align: center;
}

.home-page-body-second-row-first-col-container-image {
    height: 300px;
    width: 600px;
    margin-left: 350px;
    margin-bottom: 50px;
}

.home-page-body-third-row  {
    background-color: #c3e585;
}

.home-page-body-third-row-first-col-container {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

/* Home Page Body Styling End */

/* Home Page Footer Styling Start */

.home-page-footer-container {
    text-align: center;
    margin-bottom: .5px;
    background-color: #e0e0ff;
}

.home-page-footer-about-us-link {
    color: #513932;
    
}

.home-page-footer-accepted-insurance-link {
    margin-top: 50px;
    color: #513932;
}
.home-page-footer-payment-link {
    color: #513932;
}

.home-page-footer-gallery-link {
    color: #513932;
}

.home-page-footer-classes-link {
    color: #513932;
}

.home-page-footer-contact-link {
    color: #513932;
}

.home-page-footer-facebook-logo {
    size: 5%;
    margin-left: 500px;
    margin-top: .5px;
}

/* Home Page Footer Styling End */

/* Service Page Body Styling Start */
.service-page-container {
    margin-top: 350px;
}

.services-page-container {
    background-color: #f9eeff;
    border-style: ridge;
}
.first-col-image {
    height: 300px;
    
    margin-top: 80px;
}

.second-col-image {
    height: 300px;
   
    margin-top: 80px;
}

.third-col-image {
    height: 300px;
    margin-left: right;
    margin-top: 80px;
}

.service-page-first-row {
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 1000px;
    text-align: center;
    font-size: large;
}

.service-page-second-row-first-col {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    font-size: medium;
}

.service-page-second-row-second-col {
    text-align: center;
}

.service-page-third-row > h14 {
    font-size: xx-large;
    color: #00bbff;
}

.service-page-third-row > h21 {
    margin-bottom: 25px;
}

.service-page-third-row > h15, h22 {
    font-size: larger;
    color: #f08058;
    margin-top: 25px;
    margin-bottom: 25px;
}

.service-page-third-row > h16, h18, h20, h23, h25, h27, h29, h31, h33, h35, h37 {
    color: #535354;
}

.service-page-third-row > h17, h19, h21, h24, h26, h28, h30, h32, h34, h36, h38 {
    color:#7a7a7d
}

/* Service Page Styling End */

/* Gallery Page Styling Start */

.gallery-page-body-container {
    background-color: #f3deff;
}

.gallery-page-body-first-row-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-first-row-second-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-first-row-third-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-second-row-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-second-row-second-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-second-row-third-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-third-row-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px; 
}

.gallery-page-body-third-row-second-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-third-row-third-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-fourth-row-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-fourth-row-second-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}

.gallery-page-body-fourth-row-third-col-image {
    height: 300px;
    margin-left: left;
    margin-top: 80px;
}